<div class="container">
	
	<div class="listing-info">
		<h2><%= @listing.name %></h2>

		<p><%= @listing.summary %></p>
	</div>

	<div class="property-pic">
		<h3>Images</h3>
		<% @listing.listing_pictures.each do |p| %>
			<%= image_tag p.picture_url %>
		<% end %>
	</div>

	<div class="property-info">
		<h3>Property Type: <%= @listing.hometype %></h3>
		<h3>Room Type: <%= @listing.roomtype %> Beds</h3>
		<h3>Accomodates: <%= @listing.max_guest %></h3>			
</div>

	<div class="room-info">
		<h3><%= @listing.bedroom %> Bedrooms</h3>
		<h3><%= @listing.bed_count %> Beds</h3>
		<h3><%= @listing.bathroom %> Bathrooms</h3>	
	</div>

	<div class="address-info">
		<h2>Located at:</h2>
		<p><%= @listing.city %></p>
		<p><%= @listing.state %></p>
		<p><%= @listing.zip %></p>
		<p><%= @listing.country %></p>
	</div>

	<div class="price-info">
		<h2>Nightly Price: <%= @listing.price %></h2>
	</div>

	<% if logged_in? %>
		<% if @listing.user_id != current_user.id %>
		<%= content_tag :div, class: "disabled_dates", data: {dates: booked_dates(@listing.id)} do %>
		<% end %>
			<div>
				<h3>Book Now!</h3>
					<%= form_for :booking, :method => "get", :url => {:controller => "reservations", :action => "new"} do |f| %>
					<%= f.hidden_field :listing_id, :value => @listing.id %>
					<%= f.text_field :check_in, :data => {:provide => "datepicker"} %>
					<%= f.text_field :check_out, :data => {:provide => "datepicker"} %>
					<%= f.submit "Book Now"%>
					<% end %>
			</div>
		<% end %>
	<% end %>
</div>

