<div class="container">

<h1><%= @user.full_name %></h1>
<%= image_tag @user.avatar_url if @user.avatar? %>

<% if current_user.id == @user.id %>
	<div>
		<h3>Edit your profile!</h3>
		<%= link_to "Edit", edit_user_path(current_user.id) %>
	</div>
	<div>
		<h3>My Reservations</h3>
		<% @reservations.each do |r| %>
			<div>
				<% byebug %>
				<%= link_to r.listing.name, "/reservations/#{r.id}" %>
				<p>From <%= r.check_in %> to <%= r.check_out %></p>
				<p>For <%= r.check_out.mjd - r.check_in.mjd %> Nights stay</p>
			</div>
		<% end %>
	</div>
	<div>
		<h3>Listings booked by others</h3>
		<% @business.each do |b| %>
		<% b.reservations.each do |c| %>
			<div>
				<h4><%= c.listing.name %></h4>
				<p>From <%= c.check_in %> to <%= c.check_out %></p>
				<p>For <%= c.check_out.mjd - c.check_in.mjd %> Nights stay</p>
				<p>By <%= c.user.full_name %></p>
			</div>
			<% end %>
		<% end %>
	</div>
<% end %>
</div>