<div class="container">

<h1><%= @user.full_name %></h1>
<%= image_tag @user.avatar_url if @user.avatar? %>

<% if current_user.id == @user.id %>
	<div>
		<h3>Edit your profile!</h3>
		<%= link_to "Edit", edit_user_path(current_user.id) %>
	</div>
	<div>
		<h3>My Reservations</h3>
		<% @reservations.each do |r| %>
			<div>
				<p><%= r.listing.name %></p>
				<p>From <%= r.check_in %> to <%= r.check_out %></p>
			</div>
		<% end %>
	</div>
<% end %>
</div>