<div class="showcase">
	<div class="big-pic">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner" role="listbox">
		    <div class="active item one"></div>
		    <div class="item two"></div>
		    <div class="item three"></div>
		    <div class="item four"></div>
		  </div>
		</div>
	</div>

	<div class="jumbotron">
		<div class="container">
			<div class="big-words">
				<p class="head">Welcome Home</p>
				<p class="line">Rent unique places to stay from local hosts in 190+ countries.</p>


				<div class="form-inline big-search-form">
					<%= form_for :search, :html => {:class => "input-group"}, :role => "form", :method => "get", url: {:controller => "listings", :action => "index"} do |f| %>
					<%= f.text_field :query, class: "form-control input-lg", :placeholder => "Where do you want to go?" %>
					<%= f.text_field :check_in, class: "form-control input-lg form-date", :placeholder => "Check In", :data => {:provide => "datepicker"} %>
					<%= f.text_field :check_out, class: "form-control input-lg form-date", :placeholder => "Check Out", :data => {:provide => "datepicker"} %>
					<%= f.submit "Search", class: "btn btn-success btn-lg" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container isolator">

<h1>INDEX PAGE</h1>

</div>


