<!DOCTYPE html>
<html>
<head>
  <title>Homestay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to root_path do %>
<h1>homespace</h1>
<% end %>

<div id="fb_user_nav">


</div>

<% if logged_in? %>
	<div>
		<p>Logged in as: <strong><%= current_user.full_name %></strong>!</p>
		<%= link_to logout_path, :method => :delete do %>
		<p>Log Out</p>
		<% end %>
	</div>

<% else %>

	<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

	<%= link_to signup_path do %>
	<p>Sign Up</p>
	<% end %>

	<%= link_to login_path do %>
	<p>Log In</p>
	<% end %>

<% end %>

<div id="flash">
  <% flash.each do |key, value| %>
		<p><%= value %></p>
  <% end %>
</div>

<%= yield %>

</body>
</html>
