<!DOCTYPE html>
<html>
<head>
  <title>Homespace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-default nav-landing">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

			<%= link_to root_path do %>
			<div class="navbar-brand">
				<p><span class="glyphicon glyphicon-tent icon-format"></span> homespace</p>
			</div>
			<% end %>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<% if logged_in? %>
				<ul class="nav navbar-nav pull-right nav-landing-list">
					<li>
					<button type="button" class="btn btn-default navbar-btn nav-landing-btn"><%= link_to "Become a host", listings_new_path %></button>
					<li class="profile-thumb">
						<% if current_user.fbpic? %>
						  <%= image_tag current_user.fbpic %>
						<% else %>
							<%= image_tag current_user.avatar_url(:thumb) if current_user.avatar? %>
						<% end %>
					</li>
					<li>
						<%= link_to "#{current_user.full_name}", user_path(current_user.id) %>
					</li>
					<li>
						<%= link_to "Log Out", logout_path, :method => :delete %>
					</li>
				</ul>

			<% else %>
				<ul class="nav navbar-nav pull-right nav-landing-list">
					<li>
						<button type="button" class="btn btn-default navbar-btn nav-landing-btn"><%= link_to "Become a host", listings_new_path %></button>
					</li>

					<li>
						<%= link_to "Sign Up", signup_path %>
					</li>

					<li>
						<%= link_to "Log In", login_path %>
					</li>

					<li>
						<%= link_to "Log in with Facebook", "/auth/facebook", id: "sign_in" %>
					</li>
				</ul>
			<% end %>
		</div>
	</div>
</nav>

<% flash.each do |key, value| %>
		<div class="row col-xs-12 pull-left">
			<div class="col-xs-1 col-sm-3"></div>

			<div class="alert alert-success col-xs-10 col-sm-6" role="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
					<p><%= value %></p>
			</div>

			<div class="col-xs-1 col-sm-3"></div>
		</div>
<% end %>

<%= yield %>

</body>
</html>
